/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292432;
}

header {
  background-color: #292432;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 40px;
}

/* Menú hamburguesa */

.menu-hamburguesa {
  position: relative;
  margin-top: -25px;
}

.menu-hamburguesa input[type="checkbox"] {
  display: none;
}

.menu-icon {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  background-color: #292432;
  padding: 10px;
  list-style-type: none;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu-hamburguesa input[type="checkbox"]:checked ~ .menu {
  display: block;
}

.lista-oculta {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.boton-menu.activo + .lista-oculta {
  display: block;
}

/* Logo */
.logo {
  max-width: 200px;
  margin: 0 auto;
  margin-top: -15px;
}

/* Botones derecha Header */
.botones-derecha {
  display: flex;
  align-items: center;
}

.boton-correo{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.boton-llamada {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.boton-correo:hover, .boton-llamada:hover {
  background-color: #ccc;
}

.fa {
  font-size: 20px;
}

  /* Boody */

  .calendario{
    display: none;
  }

  .body-cont 
  {
    background-color: white;
    display: flex;
  }

  .body-cont h1
  {
    margin-top: -10px;
    color: #292432;
    font-size: 195px;
  }

  .email2, .cel2
  {
    text-decoration: none;
    color: #292432;
    font-weight: bold;
    font-size: 15px;
    margin-left: 40px;
  }

  .cel2
  {
    margin-left: 80px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #292432;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 5px;
    margin-left: 100px;
  }

  .button:hover {
    background-color: #9e9aa5;
  }
  .email {
    background-color: #292432;
  }
  .maps {
    background-color: #292432;
  }

  .left-div {
    width: 60%;
  }
  .right-div {
    width: 40%;
  }

  .contenedor {
    display: flex;
  }
  
  .izquierda {
    width: 50%;
  }
  
  .derecha {
    width: 50%;
  }
  
  /* Footer */

  
  .contacto {
    background-color: #292432;
    padding: 20px;
    color: white;
  }
  
  .contacto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    font-size: 40px;
  }
  
  .contacto p {
    margin-bottom: 10px;
  }
  
  .contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .contacto li {
    margin-bottom: 10px;
  }
  
  .contacto li a {
    color: white;
    text-decoration: none;
  }
  
  .contacto li a:hover {
    text-decoration: underline;
  }

  .redes-sociales {
    float: right;
    margin-top: 20px;
  }
  
  .redes-sociales a {
    margin-right: 10px;
    color: white;
    font-size: 18px;
  }
  
  .redes-sociales a:hover {
    color: #999999;
  }
  
  footer {
    background-color: #292432;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  

    /* Mobile */

    @media (max-width: 1220px) {
      .body-cont h1
    {
      color: #292432;
      font-size: 160px;
    }
    }
    @media (max-width: 1000px) {
      .body-cont h1
    {
      color: #292432;
      font-size: 120px;
      margin-top: 70px;
    }
    }
    @media (max-width: 768px) {
      .body-cont {
        display: none;
      }
      .calendario{
        display: block;
      }

      .body-cont h1
    {
      color: #292432;
      font-size: 80px;
    }
    }