/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292432;
}

header {
  background-color: #292432;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 20px;
}

/* Menú hamburguesa */

.menu-hamburguesa {
  position: relative;
}

.menu-hamburguesa input[type="checkbox"] {
  display: none;
}

.menu-icon {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  background-color: #292432;
  padding: 10px;
  list-style-type: none;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu-hamburguesa input[type="checkbox"]:checked ~ .menu {
  display: block;
}

.lista-oculta {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.boton-menu.activo + .lista-oculta {
  display: block;
}

/* Logo */
.logo {
  max-width: 200px;
  margin: 0 auto;
}

/* Botones derecha */
.botones-derecha {
  display: flex;
  align-items: center;
}

.boton-correo{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.boton-llamada {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.boton-correo:hover, .boton-llamada:hover {
  background-color: #ccc;
}

.fa {
  font-size: 20px;
}

/* Animaciones */
@keyframes menu-hamburguesa-abrir {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menu-hamburguesa-cerrar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


  /* Info */

  .contenedor {
    background-image: url("");
    background-size: cover;
    width: 10%;
    margin: 0 auto;
    height: 800px;
  }
  
  .contenedor img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center center;
    background-size: cover;
  }
  



  
  /* Multiservices IMG */

  .botones {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #292432;
    border-radius: 10px;
  }

  .boton{
    background-color: white;
  }

  .botones button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #292432;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 50px;
  }
  
  .botones button:hover {
    background-color: #fffacd;
    transform: scale(1.1);
  }
  
  .botones button a {
    text-decoration: none;
    color: #000;
  }

  

  @keyframes animacion-entrada {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .menu {
    animation: animacion-entrada 1s ease-in-out;
  }
  
  .contacto {
    background-color: #292432;
    padding: 20px;
    color: white;
  }
  
  .contacto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    font-size: 40px;
  }
  
  .contacto p {
    margin-bottom: 10px;
  }
  
  .contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .contacto li {
    margin-bottom: 10px;
  }
  
  .contacto li a {
    color: white;
    text-decoration: none;
  }
  
  .contacto li a:hover {
    text-decoration: underline;
  }

  .redes-sociales {
    float: right;
    margin-top: 20px;
  }
  
  .redes-sociales a {
    margin-right: 10px;
    color: white;
    font-size: 18px;
  }
  
  .redes-sociales a:hover {
    color: #999999;
  }
  
  footer {
    background-color: #292432;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  